*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  
}

html,body{
  width: 100%;
  height: 100%;
  position: relative;
}

#main{
  height: 100%;
  width: 100%;
  position: relative;
 
}

#nav{
  width: 100%;
  height: 70px;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#navbtn{
  border: 1px solid black;
  width: 7vw;
  font-size: 1vw;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#navbox{
  margin-top: 165px;
 position: absolute;
 border: 1px solid black;
 border-radius: 5px;
 padding: 10px;
 height: 15vh;
 width: 25vw;
display: flex;
flex-direction: column;
 justify-content:space-evenly;
 background-color: rgb(232, 234, 235);
}

.nbone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

/* Design the card */
#card{
  width: 90%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 6px 6px 3px 3px;
}

#ctop{
  display: flex;
  justify-content:space-between;
  align-items: center;
 padding: 5px;
}
#ctop>#ctopimg{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}
#cmid{
  padding: 5px;
  margin: 5px;
}

#cbot{
   padding: 5px;
}

/* Priority part */
#priority{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

#section{
  width: 20%;
  background-color: rgb(231, 231, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

